

<form action="/answer" class="input">
  <p class="info">Ask your coach anything:</p>
  <input type="text" name="question" value="" class="field">
  <input type="submit" value="Ask" class="btn btn-primary">
</form>
